<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256734528568-0jo2ar8d8hj0n0dbkisurv3ph37u2s65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256734528568-0jo2ar8d8hj0n0dbkisurv3ph37u2s65</string>
	<key>API_KEY</key>
	<string>AIzaSyBYVCF0cLkBlvpWJgGenNPLy1Jwj5IUcyY</string>
	<key>GCM_SENDER_ID</key>
	<string>256734528568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundder</string>
	<key>PROJECT_ID</key>
	<string>fundder-c4a64</string>
	<key>STORAGE_BUCKET</key>
	<string>fundder-c4a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256734528568:ios:6001fec41b3745666a52cd</string>
	<key>DATABASE_URL</key>
	<string>https://fundder-c4a64.firebaseio.com</string>
</dict>
</plist>